
<div fxLayout="row wrap" fxLayoutGap="5px grid" style="padding-top:2%;padding-left:1%;width:100%;padding-left:4%;padding-right:4%;">
    <div *ngFor="let note of childMessage">
        <mat-card class="card">
            <mat-card-title fxLayout="row" fxLayoutAlign="space-between">
                <div (click)="openDialog(note)">{{note.title}}</div>
                <div><img class="pin" src="../../../assets/push_pin_FILL0_wght300_GRAD0_opsz24.svg"></div>
            </mat-card-title>
            <mat-card-subtitle (click)="openDialog(note)">
                {{note.description}}
                <div> {{note.noteID}}</div>
            </mat-card-subtitle>
            <div class="icons">
                <app-icons [noteobject]="note"></app-icons>
            </div>
        </mat-card>
    </div>
</div>